h1 { font-family: Helvetica-bold; 
color:black;}
h2 { font-family: Helvetica; 
color:black;}
h3 { font-family: Helvetica; color:black;}
li { font-family: Helvetica; color:black;}
p { font-family: Helvetica; 
    padding: 5px;
   color: black; 
  }
    
.projectGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem );
  grid-template-rows: repeat(1, 1fr);
  gap: 40px;
  padding: 20% 5%;
  justify-content: center;
}
.projectCard{
  text-align: center;
  background:#f4f1de;
}

.card-img-top{max-width: 128px; max-height:128px height=auto; width=auto;>
 
}

.btn-primary{
  position: absolute; 
  bottom:20px;

}
.card-body{
position:relative;
min-height:250px;
}



