h1 { font-family: Helvetica-bold; 
color:black;}
h2 { font-family: Helvetica; 
color:black;}
h3 { font-family: "apercu", sans-serif; 
 color:black;}
li { font-family: Helvetica; color:black;}
p { font-family: "apercu", sans-serif; 
    padding: 5px;
   color: black; 
  }
.bg-image{
      background-size:100%;
      background-attachment:fixed;
      background-repeat: no-repeat;
      height:100vh;
}

.navbar-toggle-icon {
background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  
} 
.projectGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem );
  grid-template-rows: repeat(1, 1fr);
  gap: 40px;
  padding: 20% 5%;
  justify-content: center;
}
.projectCard{
  text-align: center;
  background:#f4f1de;
}

.card-img-top{max-width: 128px; max-height:128px height=auto; width=auto;>
margin: 10px
}

.btn-primary{
  position: relative; 
  margin: 10px 20px 10px 20px;
}
.card-body{
position:relative;
min-height:250px;
}

.card{
  background-image: url('./assets/oleg-laptev-7jQh3EiS8Bs-unsplash-2.jpg')
}

.base-container{
  padding:0 20px 0 20px;
}

